<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mommy Care</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
</head>
<body>
	<div class="hero">
		<div class="banner">
			<div class="left-column">
				<h1>Mommy <span>Care</span></h1>
				<h3>Safety is your <span><b>First Choice</b></span></h3>

				<p>Be safe with your baby, It's all about your life...</p>

				<div class="btn">
					<button type="button" class="primary-btn">Login</button>
					<button type="button">Register</button>
				</div>
			</div>
			<div class="right-column">
				<img src="img/welcome.jpg">
			</div>
		</div>
		
	</div>
</body>
</html>